/talos_os/secrets.yaml
/talos_os/rendered/
/.idea/

talos_os/talsecret.yaml

talos_os/_temp/

talos_os/clusterconfig/
/apps/infrastructure/monitoring/prometheus/app/_test/

apps/infrastructure/security/onepassword-connect/app/onepassword-connect.secret.yaml
